<div class="frame receipt">
  <div class="title">RECIBO DE COMISSÃO</div>
  <div class="sub">{{CIDADE_UF}}, {{DATA_EXTENSO}}</div>

  <div class="toprow">
    <div class="logo-area">
      <img class="logo" src="{{LOGO_URL}}" alt="Logo" />
    </div>

    <div class="value">
      R$ <b>{{VALOR_FORMATADO}}</b>
    </div>
  </div>

  <div class="text">
    Declaro para os devidos fins que recebi da empresa <b>{{EMPRESA}}</b> de cnpj nº <b>{{CNPJ}}</b>, a importância de
    <b>R$ {{VALOR_FORMATADO}}</b> (<b>{{VALOR_EXTENSO}}</b>), referente ao pagamento de Comissão de vendas do período de
    <b>{{PERIODO}}</b>.
  </div>

  <div class="line"></div>

  <div class="sign">
    <b>{{NOME}}</b><br/><br/>
    CPF: {{CPF}}
  </div>
</div>